<html>
<head>

</head>

<body>
<form action="/file" method="POST" enctype="multipart/form-data">
			<p>
				<input type="text" placeholder="Item Name" name="itemName">
			</p>	
		<p>
				<input type="text" placeholder="Item price" name="itemPrice">
			</p>
			<p>
				<textarea name="itemDescription"></textarea>
			</p>
		<p>
				<input type="text" placeholder="Product Name" name="productName">
			</p>
			<p>
				<input type="text" placeholder="Product Color" name="productColor">
			</p>
			<p>
				<input type="text" placeholder="Product Category Name" name="productCategoryName">
			</p>
			    <p>
				<input type="text" placeholder="Product Category color" name="productCategoryColor">
			</p>
			
			<p>
			<input type ="file" name="file">
			</p>
			
			<p>
  				<input type="submit" value="submit">
			</p>
			
			</form>
			</body>
			</html>